.App {
  text-align: center;
  background-color: #87CEEB; /* Celeste más oscuro para el fondo de la app */
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
}

.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
